@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Lato:900|Open+Sans:700|Molle:400i|Fugaz+One|Merriweather|Playfair+Display:900|Raleway:700');

html {
	/* background-color: red; */
}

.AtRest {
	max-width: 960;
	padding-top: 0;
}

#ScrollDown {
	margin-top: -4.6vh;
	width: 25px;
	height: 25px;
	display: inline-block;
}

.headroom {
	background-color: #1a1a1a;
	text-decoration: none;
	padding-bottom: 20px;
}

.HomeNav {
	margin-top: -5px;
	font-size: 25px;
	position: absolute;
	margin-left: 2%;
	color: white;
	text-shadow: 3px 1px 5px blue;
}

.headroom--unpinned > div > a > .HomeNav {
	font-size: 18px;
	margin-left: 3%;
	margin-top: 15px;
}

.AboutMeNav {
	margin-top: -5px;
	font-size: 25px;
	position: absolute;
	margin-left: 19%;
	text-shadow: 3px 1px 5px orange;
	color: white;
}

.headroom--unpinned > div > a > .AboutMeNav {
	font-size: 18px;
	margin-left: 20%;
	margin-top: 15px;
}

.ProjNav {
	margin-top: -5px;
	font-size: 25px;
	margin-left: 39%;
	position: absolute;
	text-shadow: 3px 1px 5px red;
	color: white;
}

.headroom--unpinned > div > a > .ProjNav {
	font-size: 18px;
	margin-left: 41%;
	margin-top: 15px;
}

.ContactNav {
	margin-top: -5px;
	color: white;
	font-size: 25px;
	text-shadow: 3px 1px 5px yellow;
	position: absolute;
	margin-left: 63%
}

.headroom--unpinned > div > a > .ContactNav {
	font-size: 18px;
	margin-left: 64%;
	margin-top: 15px;
}

.HomeBack {
	width: 100%;
	height: 640px;
	z-index: -10;
	float: left;
	margin-top: -140px;
}

.HomeBack > img {
	width: 100%;
	height: 640px;
	z-index: 0;
}

.Welcome {
	float: left;
	margin-top: 205px;
	width: 71.8%;
	z-index: 0;
	position: absolute;
	box-shadow: none;
}

.Welcome > pre > p {
	margin-top: 95px;
	margin-left: 30px;
	color: red;
	font-size: 80px;
	font-family: Abril Fatface, cursive;
	text-shadow:  2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	z-index: 1;
}

#pic {
	float: right;
	height: 600px;
	width: 380px;
	margin-top: -600px;
	background-color: rgba(166,166,166,0.35);
}

#pic > img {
	margin-top: 10px;
	height: 420px;
	width: 380px;
}

#pic > p {
	margin-top: -30px;
	font-size: 22px;
	color: #6a3722;
	text-shadow: 3px 0px 10px white;
	font-family: Open Sans;
	text-align: justify;
}

/* when at the top of the page */
.headroom--unfixed {
  position: fixed;
}

/* not at the top, scrolling up or down */
.headroom--scrolled {
  transition: transform 200ms ease-in-out;
}

/* when scrolling down */
.headroom--unpinned {
  position: fixed;
  margin-top: 33px;
}

/* when scrolling up and not at the top of the page */
.headroom--pinned {
  position: fixed;
  transform: translateY(0%);
}

.Signature {
	margin-top: -15px;
	margin-left: -15.5%;
	position: absolute;

	
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
    letter-spacing: .05em;
    text-shadow: 
      0.25px -0.5px 0 rgba(255, 255, 255), 
      -0.25px 0.5px 0 rgba(46, 46, 46), 
      -0.5px 1px 0 rgba(45, 45, 45), 
      -0.75px 1.5px 0 rgba(44, 44, 44), 
      -1px 2px 0 rgba(43, 43, 43), 
      -1.25px 2.5px 0 rgba(42, 42, 42), 
      -1.5px 3px 0 rgba(41, 41, 41), 
      -1.75px 3.5px 0 rgba(40, 40, 40), 
      -2px 4px 0 rgba(39, 39, 39), 
      -2.25px 4.5px 0 rgba(38, 38, 38), 
      -2.5px 5px 0 rgba(37, 37, 37), 
      -2.75px 5.5px 0 rgba(36, 36, 36), 
      -3px 6px 0 rgba(35, 35, 35), 
      -3.25px 6.5px 0 rgba(34, 34, 34), 
      -3.5px 7px 0 rgba(33, 33, 33), 
      -3.75px 7.5px 0 rgba(32, 32, 32), 
      -5.5px 11px 15px rgba(0, 0, 0, 0.9);
}

.headroom--unpinned > div > div > .Signature {
	font-size: 25px;
	margin-left: -14%;
	margin-top: 10px;
}

.JustMe {
	width: 100%;
	height: 350px;
	background-color: #34495e;
	margin-top: 500px;
}

.JustMe > div:first-child{
	border: 5px solid #d4d4d4;
	border-radius: 55px;
	width:40%;
	margin-left: 30%;
	margin-top: 35px;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.JustMe > div:first-child > h1 {
	font-size: 75px;
	text-align: center;
	position: relative;
	font-family: Playfair Display;
	color: #d4d4d4;
	margin-top: 25px;
}

.JustMe > p:nth-child(2) {
	width: 95%;
	margin-top: 50px;
	margin-left: 2.5%;
	font-size: 25px;
	font-family: Raleway;
	color: #d4d4d4;
	text-align: center;
}

.JustMe > div:nth-child(3) {
	background-color: #d4d4d4;
	border-radius: 25px;
	width: 370px;
	height: 10px;
	float:left;
	margin-left: 15px;
	margin-top: -220px;
}

.JustMe > div:nth-child(4) {
	background-color: #d4d4d4;
	border-radius: 25px;
	width: 370px;
	height: 10px;
	float:left;
	margin-left: 965px;
	margin-top: -220px;
}

.JustMe2 {
	width: 100%;
	height: 350px;
	background-color: #d4d4d4;
}

.JustMe2 > div:first-child{
	border: 5px solid #34495e;
	border-radius: 55px;
	width:40%;
	margin-left: 30%;
	margin-top: 32px;
	display: inline-block;
	background-color: rgba(255, 255, 255, 0.6);

}

.JustMe2 > div:first-child > h1 {
	font-size: 75px;
	text-align: center;
	position: relative;
	font-family: Playfair Display;
	color: #34495e;
	margin-top: 25px;
}

.JustMe2 > p:nth-child(2) {
	width: 95%;
	margin-top: 50px;
	margin-left: 2.5%;
	font-size: 25px;
	font-family: Raleway;
	color: #34495e;
	text-align: center;
}

.JustMe2 > div:nth-child(3) {
	background-color: #34495e;
	border-radius: 55px;
	width: 370px;
	height: 10px;
	float:left;
	margin-left: 15px;
	margin-top: -220px;
}

.JustMe2 > div:nth-child(4) {
	background-color: #34495e;
	border-radius: 55px;
	width: 370px;
	height: 10px;
	float:left;
	margin-left: 965px;
	margin-top: -220px;
}

#Background {
	width: 100%;
	height: 100%;
	margin-top: -30px;
	z-index: -20;
	position: relative;
}

#Background > img {
	z-index: -20;
}

#AboutPg {
	color: white;
	font-size: 60px;
	text-align: center;
	padding-left: 100px;
	position: relative;
	line-height: 0%;
	margin-top: -790px;
	font-family: Fugaz One;
	letter-spacing: 8px;
}

#Myself {
	width: 300px;
	height: 220px;
	/* background-color: yellow; */
	margin-left: 40px;
	margin-top: -113px;
	position: absolute;
	float: left;
}

#Myself > img {
	width: 212px;
	height: 160px;
}

#break {
	float: left;
	z-index: 999;
	width: 100%;
	height: 4px;
	background-color: white;
	margin-top: -128px;
}

#Para {
	width: 44%;
	margin-left: 6vh;
	margin-top: -90px;
	height: 560px;
	float: left;
}

#Para > p:first-child, #Para > p:nth-child(2), #Para > p:nth-child(3) {
	color:white;
	font-family: Merriweather;
	font-size: 21.2px;
}

#Para > h4 {
	float:left;
	margin-top: 10px;
	font-family: Merriweather;
	color: yellow;
	font-size: 21px;
}

#Para > h4 > a {
	font-family: Merriweather;
	color: yellow;
}

#Skills{
	/* background-color: yellow; */
	float: right;
	width: 44%;
	height: 560px;
	margin-top: -110px;
	margin-right: 7vh;
}

#Skills > h1 {
	font-family: Playfair Display;
	text-align: center;
	font-size: 45px;
	color:white;
}

#Skills > div > img {
	height: 50px;
}

#C {
	margin-top: -30px;
}

#C > img:first-child {
	margin-left: -1px;
	width: 53px;
	height: 53px;
}

#C > p:nth-child(2) {
	margin-top: -78px;
	margin-left: 45px;
	font-size: 50px;
	color: white;
}

#C > img:nth-child(3) {
	margin-top: -70px;
	margin-left: 58px;
	font-size: 30px;
	float: left;
}

#C > p:nth-child(4) {
	color: white;
	margin-top: -60px;
	margin-left: 120px;
}

#Java > img:first-child {
	margin-left: -110px;
}

#Java > p:nth-child(2) {
	margin-top: 15px;
	margin-left: -65px;
	font-size: 50px;
	color: white;
	float:left;
}

#Java > img:nth-child(3) {
	margin-left: 15px;
	width: 45px;
	height: 45px;
}

#Java > p:nth-child(4) {
	color:white;
	margin-left: 120px;
	margin-top: -75px;
}

#Web > img:first-child {
	margin-left: -67px;
	margin-top: 5px;
	width: 44px;
	height: 44px;
}

#Web > p:nth-child(2) {
	margin-top: 15px;
	margin-left: -24px;
	font-size: 50px;
	color: white;
	float:left;
}

#Web > img:nth-child(3) {
	margin-left: 19px;
	width: 44px;
	height: 46px;
}

#Web > p:nth-child(4) {
	color:white;
	margin-left: 120px;
	margin-top: -75px;
}

#Web > p:nth-child(5) {
	color:white;
	font-size: 10px;
	float: right;
	margin-top: -90px;
	margin-right: 558px;
}

#Web > p:nth-child(6) {
	color:white;
	font-size: 10px;
	margin-top: -90px;
	margin-right: 503px;
	float:right;
}

#JavaScript > img:first-child {
	margin-left: -93px;
	width: 100px;
}

#JavaScript > p:nth-child(2) {
	margin-top: 11px;
	margin-left: -17px;
	font-size: 50px;
	color: white;
	float:left;
}

#JavaScript > img:nth-child(3) {
	margin-left: -4px;
	margin-top: -200px;
	width: 40px;
	height: 40px;
}

#JavaScript > p:nth-child(4) {
	color:white;
	margin-left: 120px;
	margin-top: -75px;
}

#JavaScript > p:nth-child(5) {
	color:white;
	font-size: 10px;
	float: right;
	margin-top: -83px;
	margin-right: 490px;
}
#React > img:first-child {
	float: left;
	margin-left: -5px;
	width: 85px;
	height: 85px;
}

#React > p:nth-child(2) {
	float: left;
	margin-top: 31px;
	margin-left: 0px;
	font-size: 50px;
	color: white;
	float:left;
}

#React > img:nth-child(3) {
	float: left;
	margin-top: 10px;
	margin-left: 6px;
	height: 42px;
}

#React > img:nth-child(4) {
	float: left;
	margin-left: 15px;
	margin-top: 10px;
	height: 42px;
}

#React > img:nth-child(5) {
	float: left;
	height: 45px;
	margin-left: -108px;
	margin-top: 56px;
}

#React > p:nth-child(6) {
	float: left;
	color:white;
	margin-left: 240px;
	margin-top: -120px;
}

#React > p:nth-child(7) {
	color:white;
	font-size: 12px;
	margin-top: -59px;
	margin-right: 532px;
	float:right;
}

#Other > p:first-child {
	font-size: 35px;
	font-family: Playfair Display;
	float:left;
	color: white;
	margin-top: 15px;
	margin-left: -4px;
	text-align: left;
}

#Other > p:nth-child(2) {
	float:left;
	font-size: 35px;
	font-family: Playfair Display;
	margin-top: 50px;
	margin-left: -94px;	
	color: white
	/* margin-left: -100px; */
}

#Other > ul {
	margin-top: 145px;
	color:white;
}

#Other > ul > li {
	float: left;
	font-size: 24.5px;
	font-family: Raleway;
}

#Other > ul > li:first-child {
	margin-left: 70px;
}

#Other > ul > li:nth-child(2){
	margin-left: 73px;
}

#Other > ul > li:nth-child(3){
	margin-left: 78px;
}

#Other > ul > li:nth-child(4){
	/* margin-top: 40px; */
	margin-left: 70px;
}

#Other > ul > li:nth-child(5){
	/* margin-top: 40px; */
	margin-left: 91px;
}

#Other > ul > li:nth-child(6){
	/* margin-top: 40px; */
	margin-left: 96px;
}

#Other > ul > li:nth-child(7){
	/* margin-top: 40px; */
	margin-left: 73px;
}

#Other > ul > li:nth-child(8){
	/* margin-top: 40px; */
	margin-left: 113px;
}

.Projects {
	background: -webkit-linear-gradient(to bottom, #000428 , #004380); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #000428 , #004380); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
	width: 100%;
	height: 2000px;
	margin-top: -30px;
}

.Projects > h1 {
	margin-top: 12px;
	margin-left: 26.5%;
	color: white;
	float: left;
}

.Projects > div:nth-child(2) {
	margin-top: 55px;
	display:inline-block;
	width: 100%;
	height: 350px;
}

.Projects > div:nth-child(2) > img {
	width: 470px;
	height: 275px;
	margin-left: 35px;
	margin-top: 11px;
}

.Projects > div:nth-child(2) > h2 {
	color: white;
	margin-left: 520px;
	margin-top: -305px;
	font-size: 50px;
}

.Projects > div:nth-child(2) > div > p {
	width: 60%;
	margin-left: 38.5%;
	margin-top: -15px;
	color: white;
	font-size: 20px;
	line-height: 125%;
}

.Projects > div:nth-child(2) > div > p:nth-child(5) {
	font-size: 26px;
}

.Projects > div:nth-child(3) {
	margin-top: 5px;
	display:inline-block;
	width: 100%;
	height: 350px;
}

.Projects > div:nth-child(3) > img {
	width: 470px;
	height: 275px;
	margin-left: 35px;
	margin-top: 23px;
}

.Projects > div:nth-child(3) > h2 {
	color: white;
	margin-left: 520px;
	margin-top: -295px;
	font-size: 50px;
}

.Projects > div:nth-child(3) > div > p {
	width: 60%;
	margin-left: 38.5%;
	margin-top: -15px;
	color: white;
	font-size: 20px;
	line-height: 160%;
}

.Projects > div:nth-child(3) > div > p:nth-child(3) {
	font-size: 26px;
}

.Project > div:nth-child(3) > div > p:nth-child(4) {
	font-size: 17px;
}

.Projects > div:nth-child(4) {
	margin-top: -5px;
	display:inline-block;
	width: 100%;
	height: 350px;
}

.Projects > div:nth-child(4) > img {
	width: 470px;
	height: 275px;
	margin-left: 35px;
	margin-top: 23px;
}

.Projects > div:nth-child(4) > h2 {
	color: white;
	margin-left: 520px;
	margin-top: -315px;
	font-size: 50px;
}

.Projects > div:nth-child(4) > div > p {
	width: 60%;
	margin-left: 38.5%;
	margin-top: -15px;
	color: white;
	font-size: 20px;
	line-height: 160%;
}

.Projects > div:nth-child(4) > div > p:nth-child(4) {
	font-size: 26px;
}

.Projects > div:nth-child(5) {
	margin-top: -5px;
	display:inline-block;
	width: 100%;
	height: 350px;
}

.Projects > div:nth-child(5) > img {
	width: 470px;
	height: 275px;
	margin-left: 35px;
	margin-top: 23px;
}

.Projects > div:nth-child(5) > h2 {
	color: white;
	margin-left: 520px;
	margin-top: -315px;
	font-size: 50px;
}

.Projects > div:nth-child(5) > div > p {
	width: 60%;
	margin-left: 38.5%;
	margin-top: -15px;
	color: white;
	font-size: 20px;
	line-height: 160%;
}

.Projects > div:nth-child(5) > div > p:nth-child(4) {
	font-size: 26px;
}


.Contact1 {
	/* float: left; */
	width: 49%;
	height: 563px;
	background-image: linear-gradient(45deg, #ff4d4d, #ff3333);
	margin-top: -2.5%;
	z-index: -10;
	display: inline-block;
}

.Contact1 > h1 {
	color: #fafbd0;
	text-align: center;
	font-size: 50px;
	margin-top: 120px;
}

.Contact1 > div:nth-child(3) {
	color: #fafbd0;
	font-size: 22.2px;
	margin-top: 50px;
	font-family: Open Sans;
	width: 89%;
	margin-left: 4%;
}

.Contact1 > div:nth-child(4) {
	color: #fafbd0;
	font-size: 22.2px;
	font-family: Open Sans;
	margin-top: 50px;
	width: 89%;
	margin-left: 4%;
}

.Contact1 > div:nth-child(5) {
	color: #fafbd0;
	font-size: 22.2px;
	font-family: Open Sans;
	margin-top: 50px;
	width: 89%;
	margin-left: 4%;
}

.Contact2 {
	/* float: left; */
	margin-left: 51%;
	width: 51%;
	height: 563px;
	background-image: linear-gradient(45deg, #fbfbd0, #fdfde8);
	margin-top: -41.7%;
	z-index: -10;
	float: right;
}

.Contact2 > h1 {
	color: #ff3333;
	text-align: center;
	font-size: 55px;
	margin-top: 120px;
}

.Contact2 > div:nth-child(3) {
	padding-top: 20px;
	padding-bottom: 0.1px;
	margin-top: 35px;
}

.Contact2 > div:nth-child(3):hover {
	background-color: rgba(255, 51, 51, 0.2);
}
.Contact2 > div:nth-child(3) > a {
	text-decoration: none;
}

.Contact2 > div:nth-child(3) > a > div > img {
	width: 120px;
	height: 80px;
	margin-top: -5px;
	margin-left: 1px;
}

.Contact2 > div:nth-child(3) > a > div > h1 {
	text-decoration: none;
	color: #ff3333;
	font-size: 24px;
	width: 75%;
	margin-left: 15%;
	margin-top: -100px;
}

.Contact2 > div:nth-child(4) {
	padding-top: 25px;
	padding-bottom: 0.1px;
}

.Contact2 > div:nth-child(4):hover {
	background-color: rgba(255, 51, 51, 0.2);
}

.Contact2 > div:nth-child(4) > a {
	text-decoration: none;
}

.Contact2 > div:nth-child(4) > a > div > img {
	width: 105px;
	height: 70px;
	margin-top: -5px;
	margin-left: 10px;
}

.Contact2 > div:nth-child(4) > a > div > h1 {
	color: #ff3333;
	font-size: 24px;
	width: 85%;
	margin-left: 15%;
	margin-top: -90px;
}

.Contact2 > div:nth-child(5) {
	padding-top: 20px;
	padding-bottom: 5px;
}

.Contact2 > div:nth-child(5):hover {
	background-color: rgba(255, 51, 51, 0.2);
}

.Contact2 > div:nth-child(5) > a {
	text-decoration: none;
}

.Contact2 > div:nth-child(5) > a > div > img {
	width: 62px;
	height: 62px;
	margin-top: 8px;
	margin-left: 28px;
}

.Contact2 > div:nth-child(5) > a > div > h1 {
	color: #ff3333;
	font-size: 24px;
	width: 65%;
	margin-left: 15%;
	margin-top: -90px;
}

#Con {
	color: #fafbd0;
	font-size: 73px;
	float: left;
	margin-top: 23px;
	z-index: 999;
	margin-left: 77%;
}

#tact {
	color: #ff3333;
	font-size: 73px;
	float: left;
	margin-top: 23px;
	margin-left: 3px;
}


#Footer {
	background-image: url("http://wallpapercave.com/wp/JVOjf2q.jpg");
	color: red;
	width: 100%;
	height: 211px;
}

#Footer > a:first-child > div {
	background-color: white;
	width: 70px;
	height: 70px;
	border-radius: 14px;
	margin-left: 6%;
	float: left;
	margin-top: 4.5%;
}

#Footer > a:first-child > div > img {
	width: 55px;
	height: 55px;
	margin-left: 7px;
	margin-top: -1px;
}

#Footer > a:nth-child(2) > div {
	background-color: white;
	width: 70px;
	height: 70px;
	border-radius: 14px;
	margin-left: 5%;
	float: left;
	margin-top: 1.5%;
}

#Footer > a:nth-child(2) > div > img {
	width: 50px;
	height: 50px;
	margin-left: 10px;
	margin-top: 8px;
}

#Footer > a:nth-child(3) > div {
	background-color: white;
	width: 70px;
	height: 70px;
	border-radius: 14px;
	margin-left: 5%;
	float: left;
	margin-top: 4.5%;
}

#Footer > a:nth-child(3) > div > img {
	width: 55px;
	height: 55px;
	margin-left: 7px;
	margin-top: 7px;
}

#Navigations {
	/* background-color: yellow; */
	display: inline-block;
	margin-left: 8%;
	margin-top: 1%;
	font-family: Montserrat;
	font-stretch: 2px;
	color: white;
}

#FooterHome {
	color: white;
	font-size: 32px;
}

#Navigations > div:nth-child(2) {
	background-color: white;
	width: 5px;
	height: 70px;
	float:left;
	margin-left: 129px;
	margin-top: -60px;
}

#FooterAbout {
	color: white;
	font-size: 32px;
	margin-left: 160px;
	margin-top: -22px;
}

#Navigations > div:nth-child(4) {
	background-color: white;
	width: 5px;
	height: 70px;
	float:left;
	margin-left: 299px;
	margin-top: -60px;
}

#FooterProject {
	color:white;
	font-size: 32px;
	margin-left: 335px;
	margin-top: -22px;
}

#Navigations > div:nth-child(6) {
	background-color: white;
	width: 5px;
	height: 70px;
	float:left;
	margin-left: 532px;
	margin-top: -60px;
}

#FooterContact {
	color:white;
	font-size: 32px;
	margin-left: 565px;
	margin-top: -22px;
}

#Footer > p:nth-child(5) {
	display: inline;
	color:white;
	font-size: 20px;
	margin-left: 400px;
}


/*Default CSS styles usedby Gatsby for error messages and keyword display*/

.warning {
  color: #9F6000;
  background-color: #FEEFB3;
  padding: 18px;
}
.warning:before {
  content:'\26A0';
  margin-right: 9px;
}

.rfc-page pre {
  font-family: inherit;
}

.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}

.hljs-string,
.hljs-doctag {
  color: #d14;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
