@mixin clearfix {
  	&:after {
    	content: "";
    	display: table;
    	clear: both;
  	}
}

@mixin about-timeline-fontSizes ($date, $span, $header, $subheader, $text) {
	.cd-timeline-content {
		.cd-date {
			font-size: $date;

			span {
				font-size: $span;
			}
		}

		.cd-timeline-content-header {
			font-size: $header;
		}

		.cd-timeline-content-subheader {
			font-size: $subheader;
		}

		.cd-timeline-content-text {
			font-size: $text;
		}
	}
}

@mixin header-sizes ($height, $fontSize) {
	height: $height;

	.header-text .text {
		font-size: $fontSize;
	}
}


.About {
	.header {
		width: 100%;
		height: 30px;
		display: flex;
		border-bottom: 4px solid white;
		background: black;
		background-size: cover;

		.header-pic {
			margin-left: 6%;
			height: 100%;
			width: 20%;

			img {
				max-height: 100%;
				width: auto;
				display: block;
			}
		}

		.header-text {
			height: 100%;
			width: inherit;

			.text {
				font-size: 9px;
				width: fit-content;
				display: flex;
				align-items: center;
				height: 100%;
				vertical-align: middle;
				margin-left: 5%;
				color: white;
				font-family: Raleway, Sans-Serif;
				font-weight: 700;
				letter-spacing: 4px;
			}
		}

		@media screen and (min-width: 320px) {
			@include header-sizes(40px, 11px);
		}

		@media screen and (min-width: 450px) {
			@include header-sizes(70px, 18px);
		}

		@media screen and (min-width: 550px) {
			@include header-sizes(80px, 24px);
		}

		@media screen and (min-width: 768px) {
			@include header-sizes(100px, 35.5px);
		}

		@media screen and (min-width: 992px) {
			@include header-sizes(120px, 49px);
		}

		@media screen and (min-width: 1200px) {
			@include header-sizes(150px, 60px);
		}

		@media screen and (min-width: 1400px) {
			@include header-sizes(170px, 68px);
		}

		@media screen and (min-width: 1620px) {
			@include header-sizes(200px, 77px);
		}

		@media screen and (min-width: 1900px) {
			@include header-sizes(210px, 90px);
		}
	}

	.about-me {
		width: 100%;

		.about-me-info {
			width: 100%;
			font-family: Rawline, Raleway, Sans-Serif;
			color: white;

			a {
				text-decoration: none;
			}

			.about-me-info-first {
				width: 100%;
				padding: 10px 5% 5px 5%;
				font-size: 13px;

				span {
				    float: left;
				    font-size: 45px;
				    line-height: 1;
				    margin-right: 10px;
				    font-weight: 600;
				}
			}

			.about-me-info-others {
				width: 100%;
				padding: 5px 5%;
				font-size: 13px;
				text-decoration: none;
			}
		}

		.about-me-skills {
			width: 100%;
			background-size: cover;
			color: #D0CFCF;
			font-family: Rawline, Raleway, Sans-Serif;
			padding: 5px 10px 5px 10px;
			font-size: 10px;

			.about-me-skills-header {
				width: 100%;
				text-align: center;
				font-size: 24px;
			}

			.about-me-skills-software, .about-me-skills-web, .about-me-skills-tech {
				width: 100%;
				padding: 0;

				&-header {
					font-size: 12px;
				}

				&-list {
					width: 100%;

					ul {
						list-style: none;
						display: flex;
						padding-left: 10px;
						flex-wrap: wrap;

						li {
							padding: 5px 0;
							width: 25%;

							&:before {
								content: '✓';
								padding-right: 0px;
							}
						}

						#androidDev, #androidSQL {
							width: 50%;
						}
					}
				}
			}

			.about-me-skills-tech .about-me-skills-tech-list ul {
				li {
					width: 33.3%;
				}

				#AWS, #sqlServer {
					width: 66.6%;
				}
			}
		}

		@media screen and (min-width: 320px) {
			.about-me-info .about-me-info-first, .about-me-info  .about-me-info-others {
				padding: 15px 5% 15px 5%;
				font-size: 14px;

				span {
					font-size: 50px;
				}
			}

			.about-me-skills {
				font-size: 11.2px;
			}
		}

		@media screen and (min-width: 450px) {
			.about-me-info .about-me-info-first, .about-me-info  .about-me-info-others {
				font-size: 15px;

				span {
					font-size: 55px;
				}
			}

			.about-me-skills {
				font-size: 12px;

				.about-me-skills-software, .about-me-skills-web, .about-me-skills-tech {
					padding: 5px 0;
				}

				.about-me-skills-software {
					&-list ul {
						li {
							width: 16.6%;
						}

						#androidDev, #androidSQL {
							width: 33.2%;
						}
					}
				}

				.about-me-skills-tech .about-me-skills-tech-list ul {
					li {
						width: 25%;
					}

					#AWS, #sqlServer {
						width: 50%;
					}
				}

			}
		}

		@media screen and (min-width: 550px) {
			.about-me-info .about-me-info-first, .about-me-info  .about-me-info-others {
				font-size: 16px;

				span {
					font-size: 60px;
				}
			}

			.about-me-skills {
				font-size: 13.5px;

				.about-me-skills-header {
					font-size: 40px;	
				}

				.about-me-skills-software, .about-me-skills-web, .about-me-skills-tech {
					padding: 10px 0 5px 0;

					&-header {
						font-size: 18px;
					}

					&-list ul li:before {
						padding-right: 2px;	
					}
				}
			}
		}

		@media screen and (min-width: 650px) {
			.about-me-info .about-me-info-first, .about-me-info  .about-me-info-others {
				font-size: 17px;

				span {
					font-size: 65px;
				}
			}

			.about-me-skills {
				font-size: 14px;

				.about-me-skills-software, .about-me-skills-web, .about-me-skills-tech {
					&-list ul li:before {
						padding-right: 7px;	
					}
				}		

				.about-me-skills-web .about-me-skills-web-list ul li{
					width: 16.6%;
				}
			}
		}

		@media screen and (min-width: 768px) {
			display: flex;
			.about-me-info, .about-me-skills {
				width: 50%;
			}

			.about-me-info .about-me-info-first, .about-me-info  .about-me-info-others {
				font-size: 14.4px;

				span {
					font-size: 55px;
				}
			}

			.about-me-skills {
				font-size: 12px;

				.about-me-skills-header {
					font-size: 30px;
				}

				.about-me-skills-software, .about-me-skills-web, .about-me-skills-tech {
					padding: 0;

					&-header {
						font-size: 14px;
					}

					&-list ul li:before {
						padding-right: 0px;	
					}
				}

				.about-me-skills-software {
					&-list ul {
						li {
							width: 25%;
						}

						#androidDev, #androidSQL {
							width: 50%;
						}
					}
				}		

				.about-me-skills-web .about-me-skills-web-list ul li{
					width: 25%;
				}

				.about-me-skills-tech .about-me-skills-tech-list ul {
					li {
						width: 33.3%;
					}

					#AWS, #sqlServer {
						width: 66.7%;
					}
				}
			}

		}

		@media screen and (min-width: 880px) {
			.about-me-info .about-me-info-first, .about-me-info  .about-me-info-others {
				font-size: 16px;
			}

			.about-me-skills {
				.about-me-skills-header {
					font-size: 40px;
				}
				font-size: 12px;

				.about-me-skills-software, .about-me-skills-web, .about-me-skills-tech {
					padding: 0;

					&-header {
						font-size: 18px;
					}
				}

				.about-me-skills-tech .about-me-skills-tech-list ul {
					li {
						width: 25%;
					}

					#AWS, #sqlServer {
						width: 50%;
					}
				}
			}
		}

		@media screen and (min-width: 992px) {
			.about-me-info .about-me-info-first, .about-me-info  .about-me-info-others {
				font-size: 16px;

				span {
					font-size: 60px;
				}
			}

			.about-me-skills {
				font-size: 13.2px;

				.about-me-skills-software, .about-me-skills-web, .about-me-skills-tech {
					padding: 0;

					&-list ul li:before {
						padding-right: 0px;	
					}
				}

				.about-me-skills-software {
					&-list ul {
						li {
							width: 16.6%;
						}

						#androidDev, #androidSQL {
							width: 33.2%;
						}
					}
				}
			}
		}

		@media screen and (min-width: 1100px) {
			.about-me-info .about-me-info-first, .about-me-info  .about-me-info-others {
				font-size: 17px;
			}

			.about-me-skills {
				font-size: 13.5px;

				.about-me-skills-software, .about-me-skills-web, .about-me-skills-tech {
					&-list ul li:before {
						padding-right: 0px;	
					}
				}

				.about-me-skills-software, .about-me-skills-web {
					&-list ul {
						li {
							width: 16.6%;
						}

						#androidDev, #androidSQL {
							width: 33.2%;
						}
					}
				}				
			}
		}

		@media screen and (min-width: 1200px) {
			.about-me-info .about-me-info-first, .about-me-info .about-me-info-others {
				font-size: 18px;

				span {
					font-size: 70px;
				}
			}

			.about-me-skills {
				font-size: 14px;

				.about-me-skills-software, .about-me-skills-web, .about-me-skills-tech {
					&-list ul li:before {
						padding-right: 5px;
					}
				}
			}
		}

		@media screen and (min-width: 1400px) {
			.about-me-info .about-me-info-first, .about-me-info .about-me-info-others {
				font-size: 19px;

				span {
					font-size: 80px;
				}
			}

			.about-me-skills {
				font-size: 14.5px;

				.about-me-skills-software, .about-me-skills-web, .about-me-skills-tech {
					&-header {
						font-size: 19px;
					}

					&-list ul li:before {
						padding-right: 7px;
					}
				}
			}
		}

		@media screen and (min-width: 1620px) {
			.about-me-info .about-me-info-first, .about-me-info .about-me-info-others {
				font-size: 20.5px;

				span {
					font-size: 80px;
				}
			}

			.about-me-skills {
				font-size: 15px;

				.about-me-skills-software, .about-me-skills-web, .about-me-skills-tech {
					&-header {
						font-size: 20px;
					}

					&-list ul li:before {
						padding-right: 10px;
					}
				}
			}
		}

		@media screen and (min-width: 1900px) {
			.about-me-info .about-me-info-first, .about-me-info .about-me-info-others {
				font-size: 22.5px;

				span {
					font-size: 90px;
				}
			}

			.about-me-skills {
				.about-me-skills-header {
					font-size: 40px;
				}

				font-size: 16.5px;

				.about-me-skills-software, .about-me-skills-web, .about-me-skills-tech {
					&-header {
						font-size: 24px;
					}

					&-list ul li:before {
						padding-right: 15px;
					}
				}
			}
		}
	}

	.about-timeline {
		padding-bottom: 5px;
		width: 100%;
	    background-position: center center;
	    background-repeat: no-repeat;
	    background-size: cover;
	    z-index: -1;
	    overflow: hidden;

		
		.about-timeline-header {
			display: table;
			width: fit-content;
			padding: 20px 0 5px 0;
			margin: 0 auto 30px auto;
			color: white;
			font-family: Raleway, Sans-Serif;
			font-size: 40px;
			position: relative;

			&:after {
				text-align: center;
				content: "";
				position: absolute;
				left: 35%;
				bottom: 0;
				height: 1px;
				width: 30%;
				border-bottom: 2px solid #8C8C8C;
			}

			@media screen and (min-width: 450px) {
				font-size: 50px;
			}
		}

		* {
			box-sizing: border-box;
		}

		img {
			max-width: 100%;
		}

		.cd-container {
			width: 90%;
			margin: 0 auto;
			@include clearfix;
			max-width: 100%;
			position: relative;
			padding: 20px 0;
			margin-bottom: 10px;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 18px;
				height: 100%;
				width: 4px;
				background: darken(#e9f0f5, 5%);
			}

			.cd-timeline-block {
				position: relative;
				margin: 30px 0;
				@include clearfix;

				&:first-child {
					margin-top: 0;
				}

				&:last-child {
					margin-bottom: 0;
				}

				@media screen and (min-width: 992px) {
					&:first-child {
						margin-top: 0;
					}

					&:last-child {
						margin-bottom: 0;
					}
				}

				.cd-timeline-img {
					position: absolute;
					top: 0;
					left: 0;
					width: 40px;
					height: 40px;
					border-radius: 50%;
					box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(#000, .08), 0 3px 0 4px rgba(#000, .05) ;
					background: #3E3E3E;
					transition: all 0.3s ease;

					img {
						display: block;
						width: 24px;
						height: 24px;
						position: relative;
						left: 50%;
						top: 50%;
						margin-left: -12px;
						margin-top: -12px;
					}

					@media screen and (min-width: 992px) {
						width: 60px;
						height: 60px;
						left: 50%;
						margin-left: -30px;
						-webkit-transform: translateZ(0);
						-webkit-backface-visibility: hidden;
					}
				}
			}


			.cd-timeline-content {
				position: relative;
				margin-left: 60px;
				background: rgba(255, 255, 255, 0.75);
				padding: 5px;
				box-shadow: 7px 7px 4px #fff;
				@include clearfix;
				font-family: Rawline, Raleway, Sans-Serif;

				.cd-date {
					text-align: right;
					font-weight: 700;
				}

				.cd-timeline-content-header {
					font-weight: bold;
				}

				.cd-timeline-content-subheader {
					font-weight: bold;
					padding-bottom: 10px;

					a {
						text-decoration: none;
					}
				}

				.cd-timeline-content-text {
					font-weight: 500;
					margin: 5px 0;
					line-height: 1.6;
				}

				&:before {
					content: '';
					position: absolute;
					top: 16px;
					right: 100%;
					height: 0;
					width: 0;
					border: 7px solid transparent;
					border-right: 7px solid white;
				}
			}
			@include about-timeline-fontSizes(7px, 7px, 11.5px, 10px, 9px);

			.cd-timeline-content:hover + .cd-timeline-img, .cd-timeline-content:focus + .cd-timeline-img {
				background: #235B8C;
			}

			@media screen and (min-width: 320px) {
				max-width: 320px;

				@include about-timeline-fontSizes(8px, 8px, 14.5px, 11.5px, 10px);
			}

			@media screen and (min-width: 450px) {
				max-width: 450px;

				@include about-timeline-fontSizes(11.5px, 11.5px, 17px, 15px, 13px);
			}

			@media screen and (min-width: 550px) {
				max-width: 550px;

				@include about-timeline-fontSizes(13.5px, 13px, 19px, 16.5px, 14px);
			}

			@media screen and (min-width: 768px) {
				max-width: 768px;

				@include about-timeline-fontSizes(15px, 14.5px, 23px, 18.5px, 16px);
			}

			@media screen and (min-width: 992px) {
				max-width: 992px;
				margin: 5px auto;

				&:before {
					left: 50%;
					margin-left: -2px;
				}

				.cd-timeline-block:nth-child(even) .cd-timeline-content {
					box-shadow: 10px 10px 5px #fff;
					float: right;

					&:before {
						top: 24px;
						left: auto;
						right: 100%;
						border-color: transparent;
						border-right-color: white;
					}
				}

				.cd-timeline-content {
					margin-left: 0;
					padding: 5px 20px 15px 15px;
					width: 45%;
					box-shadow: -10px 10px 5px #fff;

					&:before {
						top: 24px;
						left: 100%;
						border-color: transparent;
						border-left-color: white;
					}
				}

				@include about-timeline-fontSizes(14px, 14.5px, 20px, 16px, 14px);
			}

			@media screen and (min-width: 1200px) {
				max-width: 1200px;

				@include about-timeline-fontSizes(15px, 15px, 20.5px, 17px, 15px);
			}

			@media screen and (min-width: 1400px) {
				max-width: 1400px;

				@include about-timeline-fontSizes(16px, 16.5px, 22px, 19px, 16px);
			}

			@media screen and (min-width: 1620px) {
				max-width: 1620px;

				@include about-timeline-fontSizes(17px, 17.5px, 25px, 21px, 18px);
			}

			@media screen and (min-width: 1900px) {
				max-width: 1900px;

				@include about-timeline-fontSizes(21px, 21px, 30px, 25px, 21px);
			}
		}
	}

	.about-resume {
	    display: block;
	    width: 100%;
		height: 110px;
	    overflow: hidden;
	    color: #f2f2f2;
	    position: relative;
	    background: #1F1F1F;
	    font-family: Raleway;
	    font-size: 16px;
	    font-weight: 600;
	    text-align: center;
	    letter-spacing: 3px;
	    transition: background-color .5s linear;

	    &:focus, &:hover {
		    background: #2D2D2D;
		    transition: all .3s ease;

		    .about-resume-text {
			    opacity: 0;
			    visibility: hidden;
			    transform: translate3D(0, 4em, 0) scale(.25)
		    }

		    .about-resume-img {
			    opacity: 1;
			    visibility: visible;
			    transform: translate3D(0, 0, 0) scale(1)
		    }
	    }

	    .about-resume-text, .about-resume-img {
		    position: absolute;
		    top: 0;
		    left: 0;
		    right: 0;
		    text-align: center
	    }

	    .about-resume-text {
		    margin: 40px auto;
		    opacity: 1;
		    visibility: visible;
		    transition: transform .4s cubic-bezier(.425, -.195, .005, 1.215), opacity .13333s linear;
		    transform: scale(1)
	    }

	    .about-resume-img {
		    width: 55px;
		    height: 50px;
		    margin: 30px auto;
		    opacity: 0;
		    visibility: hidden;
		    transition: transform .4s cubic-bezier(.425, -.195, .005, 1.215), opacity .4s linear;
		    transform: translate3D(0, -4em, 0) scale(0)
	    }

	    @media screen and (min-width: 320px) {
	    	font-size: 18px;

	    	.about-resume-text {
	    		margin: 45px auto;
	    	}
	    }

	    @media screen and (min-width: 550px) {
	    	font-size: 25px;

	    	.about-resume-text {
	    		margin: 40px auto;
	    	}
	    }
	}
}