@import url('https://fonts.googleapis.com/css?family=PT+Sans|Raleway');

@mixin standard-link {
	color: #BCB8B8;
	font-family: Raleway, Serif;
	font-size: 22px;
	margin: 15px;
	padding: 0px;
}

.App{
	background-color: #3E3E3E;

	.navbar.navbar-inverse {
		margin-bottom: 0;
		.container {
			.navbar-header .navbar-brand {
				padding: 0 0 0 15px;
				width: 165px;
				display: flex;

				.img-responsive {
					margin-top: 2px;
					width: 40px;
					height: 45px;
					margin-right: 5px;
				}

				.name {
					margin-top: 10px;
					font-weight: 800;
					font-family: PT Sans;
					color: #726758;

					.firstName {
						font-size: 30px;
					}

					.lastName {
						text-align: center;
						font-size: 14px;
					}
				}
			}

			.navbar-collapse .headerLinks {
				@media screen and (min-width: 768px) {
					display: flex;
					justify-content: space-between;
					width: calc(80% - 15px)
				}

				@media screen and (min-width: 992px) {
					width: calc(86% - 15px);
				}

				@media screen and (min-width: 1200px) {
					width: calc(89% - 15px);
				}

				.header-link-inactive a {
					@include standard-link;

					overflow: hidden;
					padding: 2px 4px;
					height: 1em;

					&:before {
						content: "";
						position: absolute;
						width: 100%;
						height: 2px;
						top: 0;
						margin-top: -1px;
						left: 0;
						background-color: #FFF9F9;
						transform: scaleX(0);
						transition: all 0.3s ease-in-out 0s;
						visibility: hidden;
					}

					&:hover:before {
						transform: scaleX(1);
						visibility: visible;
					}

					span {
						position: relative;
						display: inline-block;
						transition: transform 0.3s;
					}

					span::before {
						position: absolute;
						top: 100%;
						content: attr(data-hover);
						font-weight: 900;
						transform: translate3d(0,0,0);
					}

					&:hover span, &:focus span {
						transform: translateY(-100%);
					}
				}

				.header-link-active a {
					@include standard-link;
					font-weight: 600;
					overflow: hidden;
					padding: 2px 4px;
					height: 1em;
				}
			}
		}
	}

	.footer {
		background: #000000; /* fallback for old browsers */
		background: linear-gradient(to right, #232526, #414345);
		width: 100%;
		height: 200px;

		.footer-navigation {
			width: 100%;
			padding-top: 30px;
			height: 90px;
			font-size: 14px;

			a {
				position: relative;
				display: inline-block;
				margin: 5px 30px;
				outline: none;
				color: white;
				text-decoration: none;
				letter-spacing: 1px;
				padding: 0 20px;
				height: 35px;
				line-height: 35px;
			}
		}

		.footer-media {
			width: 40%;
			margin-left: auto;
			margin-right: auto;
			height: 70px;
			display: flex;
			justify-content: space-around;

			a {
				.footer-media-mail, .footer-media-linkedin, .footer-media-github {
					text-align: center;
					background-color: white;
					width: 55px;
					height: 55px;
					border-radius: 100%; 	
					border: 4px outset #ACA0A0;
					transition: all 0.2s ease;
				}

				.footer-media-github img {
					margin-top: calc(50% - 17.5px);
					width: 35px;
					height: 35px;
				}

				.footer-media-linkedin img {
					margin-top: calc(50% - 15px);
					width: 30px;
					height: 28px;
				}

				.footer-media-mail img {
					margin-top: calc(50% - 12.5px);
					width: 35px;
					height: 25px;
				}				
			}
		}

		.footer-copyright {
			color: white;
			font-size: 16px;
			font-family: Raleway;
			width: 100%;

			span {
				font-size: 18px;
			}
		}
	}
}