@import url('https://fonts.googleapis.com/css?family=PT+Sans|Raleway');

@mixin standard-link {
	color: #BCB8B8;
	font-family: Raleway, Serif;
	font-size: 22px;
	margin: 15px;
	padding: 0px;
}

.navbar.navbar-inverse {
	.container {
		margin: 0 0 0 7%;

		.navbar-collapse .headerLinks {

			@media screen and (min-width: 768px) {
				display: flex;
				justify-content: space-between;
				width: 80%;
			}

			.header-link-inactive a {
				@include standard-link;

				overflow: hidden;
				padding: 2px 4px;
				height: 1em;
			}

			.header-link-active a {
				@include standard-link;
				font-weight: 600;
				overflow: hidden;
				padding: 2px 4px;
				height: 1em;
			}
		}
	}
}