@mixin header-text($size) {
	.get-in-touch {
		font-size: 30px + $size * 5px;
	}

	.breakLine {
		width: 40px + $size * 15px;
		height: 2px + $size * 0.5px;
		margin-top: 2px + $size * 2px;
		margin-bottom: 4px +  $size * 4px;
	}

	.caption {
		font-size: 12px + $size * 2px;
	}
}

@mixin social-media-list-item() {
	a {
		text-decoration: none;

		div {
			display: flex;
			padding: 10px 0px 10px 3%;

			img {
				width: 40px;
				height: 40px;
				margin-top: auto;
				margin-bottom: auto;
			}

			div {
				margin-top: auto;
				margin-bottom: auto;
				padding-left: 2%;
				width: calc(100% - 40px);
				font-size: 29px;
				color: white;
				background-color: transparent;
				font-family: Raleway;
			}
		}

		&:hover {
			& > div {
				background-color: rgba(212, 212, 212, 0.2);
			}
		}
	}
}

.Contact {
	color: white;
	overflow: auto;

	.header-image {
		position: relative;
	}

	.contact-header {
		width: 100%;
		padding-bottom: 20%;
		background-size: cover;
		position: relative;

		.contact-header-text {
			position: absolute;
			text-align: center;
			top: 50%;
			transform: translate(0%, -60%);
			width: 100%;

			.get-in-touch, .caption {
				color: #D6D8EB;
				font-family: Raleway;
			}

			.breakLine {
				background-color: orange;
			}

			@media screen and (max-width: 449px) {
				.get-in-touch {
					font-size: 22px;
				}

				.breakLine {
					width: 25px;
					height: 2px;
					margin-top: 2px;
					margin-bottom: 5px;
				}

				.caption {
					font-size: 9px;
				}
			}

			@media screen and (min-width: 450px) and (max-width: 549px) {
				@include header-text(0);
			}

			@media screen and (min-width: 550px) and (max-width: 767px) {
				@include header-text(1);
			}

			@media screen and (min-width: 768px) and (max-width: 991px) {
				@include header-text(2);
			}

			@media screen and (min-width: 992px) and (max-width: 1199px) {
				@include header-text(3);
			}

			@media screen and (min-width: 1200px) {
				@include header-text(4);
			}
		}
	}



	.mainBody {
		// overflow: auto;
		display: flex;
		flex-wrap: wrap;

		.contact-info {
			// background-size: cover;
			float: left;
			width: 100%;
			background-color: black;

			@media screen and (min-width: 768px) {
				width: 50%
			}

			.contact-info-text {
				width: 90%;
				margin-left: 5%;
				margin-right: 5%;

				.contact-info-header {
					margin-top: 5%;
					width: 50%;
					font-size: 50px;
					color: orange;
					padding-bottom: 5px;
					font-family: Raleway;
				}

				.contact-info-1 {
					margin-top: 3%;
					font-size: 20px;
					color: #E2DFD8;
					font-family: Raleway;
					font-weight: 600;
				}

				.contact-info-list {
					margin-top: 5%;

					.contact-email {
						@include social-media-list-item();
					}

					.contact-github {
						@include social-media-list-item();
					}

					.contact-linkedin {
						@include social-media-list-item();
					}

				}
			}
		}

		.contact-form {
			display: flex;
			float: left;
			width: 100%;
			background-color: #E4DFDF;
			padding-top: 25px;
			padding-bottom: 25px;

			@media screen and (min-width: 768px) {
				width: 50%
			}

			.contact-form-inner {
				width: 400px;

				@media screen and (max-width: 991px) {
					width: 350px;
				}

				@media screen and (max-width: 767px) {
					width: 450px;
				}

				@media screen and (max-width: 500px) {
					width: 90%;
				}

				.form-header {
					margin: 0;
					font-family: Raleway;
					color: #5E5757
				}

				.form-firstName , .form-lastName, .form-email, .form-message {
					div:first-child {
						font-family: Raleway !important;
						display: block !important;
						margin-left: auto;
						margin-right: auto;
						width: 100% !important;
					}
				}

				.form-message {
					div:first-child {

						div:nth-child(2) {
							font-weight: 600;
						}

						div:nth-child(3) > textarea:nth-child(2) {
							color: #5C5656 !important;
						}


					}
				}

				.form-submit {
					div:first-child {
						margin-left: 0 !important;
					}
				}
				
			}

		}
	}
}