@mixin header-text($size) {
	.get-in-touch {
		font-size: 30px + $size * 5px;
	}

	.caption {
		font-size: 12px + $size * 2px;
	}
}

@mixin contact-info-textSizes ($header, $text) {
	.contact-info-header {
		font-size: $header;
	}

	.contact-info-1 {
		font-size: $text;
	}
}

.Contact {
	color: white;
	overflow: auto;

	.header-image {
		position: relative;
	}

	.contact-header {
		width: 100%;
		padding-bottom: 20%;
		background-size: cover;
		position: relative;
		display: none;

		.contact-header-text {
			position: absolute;
			text-align: center;
			top: 50%;
			transform: translate(0%, -60%);
			width: 100%;

			.get-in-touch, .caption {
				color: #D6D8EB;
				font-family: Raleway, Sans-Serif;
			}

			.get-in-touch {
				padding-bottom: 10px;
				width: fit-content;
				margin: 0 auto 15px auto;
				position: relative;

				&:after {
					text-align: center;
					content: "";
					position: absolute;
					left: 35%;
					bottom: 0;
					height: 1px;
					width: 30%;
					border-bottom: 4px solid orange;
				}
			}

			@media screen and (min-width: 768px) {
				@include header-text(2);
			}

			@media screen and (min-width: 992px) {
				@include header-text(3);
			}

			@media screen and (min-width: 1200px) {
				@include header-text(4);
			}

			@media screen and (min-width: 1400px) {
				@include header-text(5.5);
			}

			@media screen and (min-width: 1620px) {
				@include header-text(7.5);
			}

			@media screen and (min-width: 1900px) {
				@include header-text(10);
			}
		}

		@media screen and (min-width: 768px) {
			display: block;
		}
	}



	.mainBody {
		display: flex;
		flex-wrap: wrap;

		.contact-info {
			float: left;
			width: 100%;
			background-color: black;

			@media screen and (min-width: 768px) {
				width: 50%
			}

			.contact-info-text {
				width: 90%;
				margin-left: 5%;
				margin-right: 5%;

				.contact-info-header {
					margin-top: 5%;
					width: 100%;
					font-size: 35px;
					color: orange;
					padding-bottom: 5px;
					font-family: Raleway, Sans-Serif;
				}

				.contact-info-1 {
					margin-top: 3%;
					font-size: 14px;
					color: #E2DFD8;
					font-family: Raleway, Sans-Serif;
					font-weight: 600;
				}

				@media screen and (min-width: 450px) {
					@include contact-info-textSizes(45px, 17px);
				}

				@media screen and (min-width: 768px) {
					padding-bottom: 20px;

					@include contact-info-textSizes(50px, 20px);
				}

				@media screen and (min-width: 1200px) {
					@include contact-info-textSizes(55px, 22px);
				}

				@media screen and (min-width: 1400px) {
					@include contact-info-textSizes(55px, 24.5px);
				}

				@media screen and (min-width: 1620px) {
					@include contact-info-textSizes(60px, 27px);
				}

				@media screen and (min-width: 1900px) {
					@include contact-info-textSizes(65px, 32px);
				}

				.contact-info-list {
					margin-top: 5%;

					.contact-email, .contact-github, .contact-linkedin {
						a {
							text-decoration: none;

							div {
								display: flex;
								padding: 10px 0px 10px 3%;

								img {
									margin-top: auto;
									margin-bottom: auto;
									width: 30px;
									height: 30px;
								}

								div {
									margin-top: auto;
									margin-bottom: auto;
									padding-left: 2%;
									color: white;
									background-color: transparent;
									font-family: Raleway, Sans-Serif;
									width: calc(100% - 30px);
									font-size: 12px;
								}

								@media screen and (min-width: 375px) {
									div {
										font-size: 15px;
									}
								}

								@media screen and (min-width: 450px) {
									div {
										font-size: 19px;
									}
								}

								@media screen and (min-width: 550px) {
									div {
										font-size: 23px;
									}
								}

								@media screen and (min-width: 768px) {
									div {
										font-size: 15px;
									}
								}

								@media screen and (min-width: 992px) {
									img {
										width: 40px;
										height: 40px;
									}

									div {
										width: calc(100% - 40px);
										font-size: 19px;
									}
								}

								@media screen and (min-width: 1200px) {
									div {
										font-size: 25px;
									}
								}

								@media screen and (min-width: 1400px) {
									img {
										width: 55px;
										height: 55px;
									}

									div {
										font-size: 27px;
									}
								}

								@media screen and (min-width: 1620px) {
									div {
										font-size: 31px;
									}
								}

								@media screen and (min-width: 1900px) {
									img {
										width: 70px;
										height: 70px;
									}

									div {
										font-size: 35px;
									}
								}

							}

							&:hover {
								& > div {
									background-color: rgba(212, 212, 212, 0.2);
								}
							}
						}
					}
				}
			}
		}

		.contact-form {
			display: flex;
			float: left;
			width: 100%;
			background-color: #E4DFDF;
			padding-top: 25px;
			padding-bottom: 25px;

			@media screen and (min-width: 768px) {
				width: 50%
			}

			.contact-form-inner {
				width: 90%;

				.form-header {
					margin: 0;
					font-family: Raleway, Sans-Serif;
					color: #5E5757;
				}

				@media screen and (min-width: 500px) {
					width: 450px;
				}

				@media screen and (min-width: 768px) {
					width: 350px;
				}

				@media screen and (min-width: 992px) {
					width: 400px;
				}

				@media screen and (min-width: 1400px) {
					width: 450px;

					.form-header {
						font-size: 44px;
						padding-bottom: 10px;
					}
				}

				@media screen and (min-width: 1620px) {
					width: 500px;

					.form-header {
						font-size: 48px;
						padding-bottom: 15px;
					}
				}

				@media screen and (min-width: 1900px) {
					width: 550px;

					.form-header {
						padding-bottom: 20px;
					}
				}

				.form-firstName , .form-lastName, .form-email, .form-message {
					div:first-child {
						font-family: Raleway, Sans-Serif !important;
						display: block !important;
						margin-left: auto;
						margin-right: auto;
						width: 100% !important;
					}

					@media screen and (min-width: 1200px) {
						padding: 2px 0;

						label, input, div {
							font-size: 17px;
						}
					}
					
					@media screen and (min-width: 1400px) {
						padding: 3px 0;
					}

					@media screen and (min-width: 1620px) {
						padding: 8px 0;

						label, input, div {
							font-size: 17.5px !important;
						}
					}

					@media screen and (min-width: 1900px) {
						padding: 12px 0;

						label, input, div {
							font-size: 18px !important;
						}
					}
				}

				.form-message {
					div:first-child {
						div:nth-child(2) {
							font-weight: 600;
						}

						div:nth-child(3) > textarea:nth-child(2) {
							color: #5C5656 !important;
						}
					}
				}

				.form-submit {
					div:first-child {
						margin-left: 0 !important;
					}
				}
				
			}

		}
	}
}