@mixin landing-text-fontSize ($describ, $name) {
	.home-profile-text {
		.home-profile-text-describ {
			font-size: $describ;
		}

		.home-profile-text-name {
			font-size: $name;
		}
	}
}

@mixin landing-page-image ($size) {
	.home-profile-image {
		height: $size;
		width: $size;
	}
}

@mixin landing-page-about-fontSizes ($header, $span, $text) {
	.home-about-me-who-header, .home-about-me-what-header {
		font-size: $header;

		span {
			font-size: $span;
		}
	}
	
	.home-about-me-who-body, .home-about-me-what-body {
		font-size: $text;
	}
}

.home {
	.home-background {
		background-size: cover;
		width: 100%;
		height: 600px;

		.home-profile-image {
			margin-left: calc(50% - 75px);
			margin-top: 120px;
			border-radius: 100%;
			height: 150px;
			width: 150px;
		}

		.home-profile-text {
			padding: 15px 1% 0 1%;
			width: 100%;

			.home-profile-text-describ {
				font-size: 15px;
				color: white;
				font-family: Raleway;

				span {
					color: red;
				}
			}

			.home-profile-text-breakline {
				height: 1px;
				width: 65%;
				background: white;
				margin: 5px auto 5px auto;
			}

			.home-profile-text-name {
				color: white;
				font-family: Raleway;
				font-size: 17px;
				font-weight: 700;
			}
		}

		@media screen and (min-width: 300px) {
			@include landing-text-fontSize(19px, 21px);
		}

		@media screen and (min-width: 375px) {
			@include landing-text-fontSize(24px, 27px);
		}

		@media screen and (min-width: 450px) {
			@include landing-text-fontSize(29px, 32px);
		}

		@media screen and (min-width: 550px) {
			.home-profile-image {
				margin-left: calc(50% - 90px);
			}

			@include landing-page-image(180px);
			@include landing-text-fontSize(35px, 38px);
		}

		@media screen and (min-width: 768px) {
			display: flex;

			.home-profile-image {
				margin: 100px 0 0 3%;
				margin-top: 100px;
			}

			.home-profile-text {
				padding: 150px 4% 0 3%;
				width: calc(100% - 180px);
			}

			@include landing-text-fontSize(33px, 37px);
		}

		@media screen and (min-width: 880px) {
			.home-profile-text {
				width: calc(100% - 200px);
			}

			@include landing-page-image(200px);
			@include landing-text-fontSize(38px, 40px);
		}

		@media screen and (min-width: 992px) {
			.home-profile-text {
				width: calc(100% - 220px);
			}

			@include landing-page-image(220px);
			@include landing-text-fontSize(44px, 48px);
		}

		@media screen and (min-width: 1100px) {
			@include landing-text-fontSize(48px, 52px);
		}

		@media screen and (min-width: 1200px) {
			.home-profile-text {
				width: calc(100% - 270px);
			}

			@include landing-page-image(270px);
			@include landing-text-fontSize(53px, 57px);
		}

		@media screen and (min-width: 1400px) {
			.home-profile-text {
				width: calc(100% - 300px);
			}

			.home-profile-image {
				margin: 100px 0 0 4%;
			}

			@include landing-page-image(300px);
			@include landing-text-fontSize(58px, 65px);
		}

		@media screen and (min-width: 1620px) {
			.home-profile-image {
				margin: 100px 0 0 4.5%;
			}

			@include landing-page-image(340px);
			@include landing-text-fontSize(70px, 77px);
		}

		@media screen and (min-width: 1900px) {
			.home-profile-image {
				margin: 100px 0 0 5%;
			}

			@include landing-page-image(370px);
			@include landing-text-fontSize(77px, 86px);
		}
	}

	.home-about-me {
		width: 100%;
		background-size: cover;
		color: #DCDADA;
		font-family: Raleway;
		font-weight: 50	0;

		.home-about-me-who, .home-about-me-what {
			width: 100%;
			height: calc(50% - 12.5px);
			padding: 10px 0 20px 0;

			&-header {
				width: 100%;
				text-align: center;
				font-size: 19px;
				padding: 0 10%;
				color: #F9F9F9;

				span {
					font-size: 29px;
				}
			}

			&-body {
				font-size: 13px;
				width: 100%;
				padding: 10px 5% 15px 5%;

				span {
					font-weight: 700;
					color: white;
				}
			}

			@media screen and (min-width: 375px) {
				@include landing-page-about-fontSizes(26px, 35px, 13px);
			}

			@media screen and (min-width: 450px) {
				@include landing-page-about-fontSizes(26px, 35px, 14px);
			}

			@media screen and (min-width: 550px) {
				@include landing-page-about-fontSizes(40px, 55px, 15px);
			}

			@media screen and (min-width: 768px) {
				@include landing-page-about-fontSizes(40px, 55px, 18px);
			}

			@media screen and (min-width: 992px) {
				@include landing-page-about-fontSizes(50px, 65px, 20.5px);
			}

			@media screen and (min-width: 1200px) {
				@include landing-page-about-fontSizes(50px, 65px, 24.5px);
			}

			@media screen and (min-width: 1400px) {
				@include landing-page-about-fontSizes(55px, 70px, 26.5px);
			}

			@media screen and (min-width: 1620px) {
				@include landing-page-about-fontSizes(55px, 70px, 29.5px);
			}

			@media screen and (min-width: 1900px) {
				padding: 15px 0 25px 0;

				@include landing-page-about-fontSizes(60px, 75px, 34px);
			}
		}

		.home-about-me-who {
			height: calc(50% - 37.5px);
		}

		.home-about-me-what {
			height: calc(50% - 37.5px);
			margin-bottom: 0;
		}

		hr {
			border-top-width: 5px;
			border-radius: 100%;
			margin: 0;
		}

	}
}