.home {
	.home-background {
		background-size: cover;
		width: 100%;
		height: 600px;

		.home-profile-image {
			margin-left: calc(50% - 75px);
			margin-top: 120px;
			border-radius: 100%;
			height: 150px;
			width: 150px;
		}

		.home-profile-text {
			padding: 15px 1% 0 1%;
			width: 100%;

			.home-profile-text-describ {
				font-size: 15px;
				color: white;
				font-family: Raleway;

				span {
					color: red;
				}
			}

			.home-profile-text-breakline {
				height: 1px;
				width: 65%;
				background: white;
				margin: 5px auto 5px auto;
			}

			.home-profile-text-name {
				color: white;
				font-family: Raleway;
				font-size: 17px;
				font-weight: 700;
			}
		}

		@media screen and (min-width: 300px) {
			.home-profile-text {
				.home-profile-text-describ {
					font-size: 19px;
				}

				.home-profile-text-name {
					font-size: 21px;
				}
			}
		}

		@media screen and (min-width: 375px) {
			.home-profile-text {
				.home-profile-text-describ {
					font-size: 24px;
				}

				.home-profile-text-name {
					font-size: 27px;
				}
			}
		}

		@media screen and (min-width: 450px) {
			.home-profile-text {
				.home-profile-text-describ {
					font-size: 29px;
				}

				.home-profile-text-name {
					font-size: 32px;
				}
			}
		}

		@media screen and (min-width: 550px) {
			.home-profile-image {
				margin-left: calc(50% - 90px);
				height: 180px;
				width: 180px;
			}

			.home-profile-text {
				.home-profile-text-describ {
					font-size: 35px;
				}

				.home-profile-text-name {
					font-size: 38px;
				}
			}
		}

		@media screen and (min-width: 768px) {
			display: flex;

			.home-profile-image {
				margin: 100px 0 0 3%;
				margin-top: 100px;
				height: 180px;
				width: 180px;
			}

			.home-profile-text {
				padding: 150px 4% 0 3%;
				width: calc(100% - 180px);

				.home-profile-text-describ {
					font-size: 33px;
				}

				.home-profile-text-name {
					font-size: 37px;
				}
			}
		}

		@media screen and (min-width: 880px) {
			.home-profile-image {
				height: 200px;
				width: 200px;
			}

			.home-profile-text {
				width: calc(100% - 200px);

				.home-profile-text-describ {
					font-size: 38px;
				}

				.home-profile-text-name {
					font-size: 40px;
				}
			}
		}

		@media screen and (min-width: 992px) {
			.home-profile-image {
				height: 220px;
				width: 220px;
			}

			.home-profile-text {
				width: calc(100% - 220px);

				.home-profile-text-describ {
					font-size: 44px;
				}

				.home-profile-text-name {
					font-size: 48px;
				}
			}
		}

		@media screen and (min-width: 1100px) {
			.home-profile-text {
				.home-profile-text-describ {
					font-size: 48px;
				}

				.home-profile-text-name {
					font-size: 52px;
				}
			}
		}

		@media screen and (min-width: 1200px) {
			.home-profile-image {
				height: 270px;
				width: 270px;
			}

			.home-profile-text {
				width: calc(100% - 270px);

				.home-profile-text-describ {
					font-size: 53px;
				}

				.home-profile-text-name {
					font-size: 57px;
				}
			}
		}

		// @media screen and (min-width: 1440px) {
		// 	.home-profile-image {
		// 		height: 300px;
		// 		width: 300px;
		// 	}

		// 	.home-profile-text {
		// 		width: calc(100% - 300px);

		// 		.home-profile-text-describ {
		// 			font-size: 58px;
		// 		}

		// 		.home-profile-text-name {
		// 			font-size: 65px;
		// 		}
		// 	}
		// }
	}

	.home-about-me {
		width: 100%;
		background-size: cover;
		color: #DCDADA;
		font-family: Raleway;
		font-weight: 50	0;

		.home-about-me-who, .home-about-me-what {
			width: 100%;
			height: calc(50% - 12.5px);
			padding: 10px 0 20px 0;

			&-header {
				width: 100%;
				text-align: center;
				font-size: 19px;
				padding: 0 10%;
				color: #F9F9F9;

				span {
					font-size: 29px;
				}
			}

			&-body {
				font-size: 13px;
				width: 100%;
				padding: 10px 5% 15px 5%;

				span {
					font-weight: 700;
					color: white;
				}
			}
		}

		.home-about-me-who {
			height: calc(50% - 12.5px - 25px);
		}

		.home-about-me-what {
			height: calc(50% - 12.5px + 25px);
			margin-bottom: 0;
		}

		hr {
			border-top-width: 5px;
			border-radius: 100%;
			margin: 0;
		}

	}
}