.Projects {
	padding-bottom: 35px;

	.projects-container {
		@media screen and (min-width: 1440px) {
			width: 1400px;
		}

		.pageTitle {
			margin: 20px 0;
			color: white;
			font-family: Raleway;
		}

		#project-tab {
			margin-bottom: 20px;
			font-family: Raleway;

			@media screen and (max-width: 450px) {
				ul li a {
					padding: 10px;
				}
			}

			@media screen and (max-width: 375px) {
				font-size: 12px;
			}
		}

		.row {
			font-family: Raleway;

			.col-sm-4 img {
				margin-top: 5px;
			}

			@media screen and (min-width: 768px) {
				display: flex;

				.col-sm-4 {
					margin-top: auto;
					margin-bottom: auto;
				}
			}

			.content {
				color: white;

				.projectName {
					margin-top: 0;
				}

				.headingCaption, .githubLink {
					text-decoration: none;
					color: inherit;

					&:hover {
						color: white;
					}
				}

				.content-list {
					margin-bottom: 10px;
				}

				.languages {
					display: flex;
					font-size: 8px;

					& > * {
						background-color: #E2E2E2;
						color: black;
						font-weight: 800;
						padding: 5px;
						margin: 0 2px 0 2px;
						border: 2px solid #949292;
					}

					div:first-child {
						margin: 0 2px 0 0;
					}

					@media screen and (min-width: 450px) {
						font-size: 10px;

						& > * {
							padding: 5px;
							margin: 0 3px 0 3px;
						} 

						div:first-child {
							margin: 0 3px 0 0;
						}
					}

					@media screen and (min-width: 550px) {
						font-size: 12px;

						& > * {					
							padding: 5px;
							margin: 0 7px 0 7px;
						}

						div:first-child {
							margin: 0 5px 0 0;
						}
					}

					@media screen and (min-width: 768px) {
						font-size: 11px;

						& > * {
							padding: 5px 7px 5px 7px;
							margin: 0 4px 0 4px;
						}

						div:first-child {
							margin: 0 4px 0 0;
						}
					}

					@media screen and (min-width: 992px) {
						font-size: 13px;

						& > * {
							padding: 5px 10px 5px 10px;
							margin: 0 5px 0 5px;
						}

						div:first-child {
							margin: 0 10px 0 0;
						}
					}
				}
			}
		}

		.fitness60 .col-sm-4 img {
			border: 0.2px solid #969393;
			border-left: none;
		}
	}
}